{% load static i18n %}
<form hx-post='{% url "profile:password_reset_form" %}' hx-swap='outerHTML' class='flex flex-col w-full h-full min-h-0'>
  <div class='w-full flex justify-between border-b border-gray-200 px-3 py-4 text-center'>
    <div class="w-8 h-8">
    </div>
    <div class='font-bold pt-1'>
      {% trans 'Forgot password?' %}
    </div>
    <div>
      <button class="button button-invisible-white w-8 h-8 flex justify-center rounded-full "
          type='button'
          onclick="hidePasswordResetOverlay();">
        <i class="fal fa-times"></i>
      </button>
    </div>
  </div>
  <div class='min-h-0 w-full px-3 md:px-6 py-6 text-left overflow-y-auto'>
    <h3 class='pt-4 font-bold mb-4'>
      {% trans 'Forgot your password?' %}
    </h3>
    <p class='mb-4'>
      {% trans "Enter your email address below, and we'll send you an email allowing you to reset it." %}
    </p>
    <div class='flex flex-row-reverse'>
      <button class='inline-block link-primary mb-4 ml-1'
          type='button'
          onclick='hidePasswordResetContent(); showSignUpContent();'>
        {% trans 'Sign up here' %}
      </button>
      {% trans 'No account yet?' %}
    </div>
    {% if success %}
      <div id='password-reset-success' class='w-full bg-white border-l-4 border-green-400 p-3 mb-4 rounded shadow'>
        <div class='flex'>
          <div class='flex items-center mr-3'>
            <i class='fancy-alert-icon text-green-400 fas fa-check-circle'></i>
          </div>
          <div>
            <h5 class='font-bold'>{% trans 'Email sent' %}</h5>
            <div>{% trans 'Check your email inbox. We sent you an email with the instructions.' %}</div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if form.non_field_errors %}
      <div class='w-full bg-white border-l-4 border-red-400 p-3 mb-4 rounded shadow'>
        <div class='flex'>
          <div class='flex items-center mr-3'>
            <i class='fancy-alert-icon text-red-400 fas fa-exclamation-circle'></i>
          </div>
          <div>
            {% for error in form.non_field_errors %}
              <div>
                {{ error }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
    <div>
      <div class='form-label-group-lg {% if form.email.errors %}error{% endif %}'>
        <input name='{{ form.email.html_name }}' id='{{ form.email.id_for_label }}_password_reset'
          placeholder='{% trans "lukeskywalker@gmail.com" %}' class='input-white-bg'
          {% if form.email.value %}value='{{ form.email.value }}'{% endif %}
          type='email' required/>
        <label for='{{ form.email.id_for_label }}_password_reset'>
          {% trans 'Email' %}
        </label>
      </div>
      <div class='mb-4 text-red-400'>
        {% for error in form.email.errors %}
          <div class='text-sm mt-1'>
            {{ error }}
          </div>
        {% endfor %}
      </div>
      <div class='mb-4'>
        {% trans 'Remember your password?' %}
        <button class='inline-block link-primary ' type='button'
            onclick='hidePasswordResetContent(); showSignInContent();'>
          {% trans 'Sign in here' %}
        </button>
      </div>
      {% csrf_token %}
      <button class='button button-md button-primary-darker w-full transform scale-100 active:scale-90' type='submit'>
        <div>{% trans 'Send reset link' %}</div>
        <div class="stage hidden">
          <span class="text-transparent">I</span>
	        <span class="dot-flashing"></span>
	        <span class="text-transparent">I</span>
        </div>
      </button>
      <div class='relative w-full py-8'>
        <div class='h-0.5 w-full border-t border-gray-200'></div>
        <div class='absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white px-4 text-sm '>
          {% trans 'or' %}
        </div>
      </div>
      <button class='button button-md button-gray-outline-black w-full mb-4 flex' type='button'>
        <i class='fab fa-google text-2xl'></i>
        <span class='w-full text-center'>{% trans 'Continue with Google' %}</span>
      </button>
      <button class='button button-md button-gray-outline-black w-full mb-4 flex' type='button'>
        <i class='fab fa-twitter text-2xl'></i>
        <span class='w-full text-center'>{% trans 'Continue with Twitter' %}</span>
      </button>
      <button class='button button-md button-gray-outline-black w-full mb-4 flex' type='button'>
        <i class='fab fa-facebook text-2xl'></i>
        <span class='w-full text-center'>{% trans 'Continue with Facebook' %}</span>
      </button>
      <button class='button button-md button-gray-outline-black w-full mb-4 flex' type='button'>
        <i class='fab fa-apple text-2xl'></i>
        <span class='w-full text-center'>{% trans 'Continue with Apple' %}</span>
      </button>
    </div>
  </div>
</form>