{% load i18n %}
<a href='google'
		class='button button-md button-gray-outline-black w-full mb-4 flex'>
  <i class='fab fa-google text-2xl'></i>
  <span class='w-full text-center'>{% trans 'Continue with Google' %}</span>
</a>
<a href='twitter'
		class='button button-md button-gray-outline-black w-full mb-4 flex'>
  <i class='fab fa-twitter text-2xl'></i>
  <span class='w-full text-center'>{% trans 'Continue with Twitter' %}</span>
</a>
<a href='github'
		class='button button-md button-gray-outline-black w-full mb-4 flex'>
  <i class='fab fa-github text-2xl'></i>
  <span class='w-full text-center'>{% trans 'Continue with Github' %}</span>
</a>
<a href='instagram'
		class='button button-md button-gray-outline-black w-full mb-4 flex'>
  <i class='fab fa-instagram text-2xl'></i>
  <span class='w-full text-center'>{% trans 'Continue with Instagram' %}</span>
</a>
{#<!--button class='button button-md button-gray-outline-black w-full mb-4 flex' type='button'>#}
{#  <i class='fab fa-apple text-2xl'></i>#}
{#  <span class='w-full text-center'>{% trans 'Continue with Apple' %}</span>#}
{#</button-->#}